.animated-text {
    display: flex;
    clip-path: polygon(0 -20%, 100% -20%, 100% 100%, 0% 100%);

    span { 
        will-change: transform;
        transform: translate3d(0, 140px, 0);
        animation: animateText 700ms ease forwards;

        &:nth-child(3n-1) {
            animation-delay: 150ms;
        }

        &:nth-child(3n) {
            animation-delay: 300ms;
        }
    }
}